// Estilos para desktop <= 1440px
.hero{
    // Contenedor principal
    @include width-height(100dvw, 500px);
    @include flex(0, center, initial);
    padding: 0 0 0 10%;
    background-color: $Very-Light-Gray;

    // Contenedor "hero texts"
    .hero-texts{
        @include width-height(410px, auto);
        min-width: 410px;

        h1{ font-size: 2.5em; }

        p{  
            padding: 25px 0;
            font-size: 16.2px;
        }
    }

    // Ilustración "mackups" - hero
    .hero-illustration{
        position: relative;
        @include width-height(100%, 100%);
        @include flex(0, initial, end);
        
        &::before{
            content: "";
            position: absolute;
            top: -185px;
            left: 40px;
            @include width-height(800px, 140%);
            background-image: url("assets/icons/bg-intro-desktop.svg");
            background-size: calc(100% + 110px);
            background-repeat: no-repeat;
        }
        
        .illustration{
            @include width-height(600px, calc(100% + 230px));
            position: absolute;
            top: -100px;
            right: -86px;
        }
    }
}

// Responsive
@media screen and (max-width: 1100px){
    .hero{
        .hero-illustration{
            &::before{
                left: -50px;
            }
    
            .illustration{
                @include width-height(550px, calc(100% + 200px));
            }
        }
    }
}

@media screen and (max-width: 480px){
    .hero{
        flex-direction: column-reverse;
        padding: 0 6% 100px 6%;

        // Contenedor "hero texts"
        .hero-texts{
            width: 100%;
            min-width: auto;
            text-align: center;

            p{  
                padding: 20px 0;
                font-size: 15px;
                line-height: 1.5;
            }
        }

        .hero-illustration{
            transform: none;
        }
    }
}

@media screen and (max-width: 350px){ .hero, .hero-texts, h1{ font-size: 14px; } }